{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">

        <!-- Statistics area start -->
        <div class="col-lg-8 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">{{ list_what }}s</h4>
                     
                    {% for object in object_list %}
                    <li>
                    {%  if list_what == 'Income'  %}
                        <a href = "{% url 'my_finances:income_detail' object.pk %}">
                        {% elif list_what == 'Outcome' %}
                        <a href = "{% url 'my_finances:outcome_detail' object.pk %}">
                        {% elif list_what == 'Balance' %}
                        <a href = "{% url 'my_finances:balance_detail' object.pk %}">
                        {% endif %}
                        {{ object.id}} - {{ object.date|date}} - {{ object.name }}-{{ object.get_type_display }}  - ${{object.value}} 

                        {% if repetititve %}
                        <span class="badge badge-pill badge-success">Repetitive</span>
                        every {{ object.repetition_time }} -  {{ object.get_repetition_interval_display }}
                        {% endif %}
                {% empty %}
                        </a>
                    </li>
                    <li>Nothing to show yet.</li>
                {% endfor %}
                
                    
                </div>
            </div>
        </div>
        <!-- Statistics area end -->
                        
    </div>
</div>
        

{% endblock %}

{% block hidden_content %}
{% endblock %}