{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="main-content-inner">
    <div class="container">
        <div class="row">

            <!-- Statistics area start -->
            <div class="col-lg-8 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Income  {{object.pk}}</h4>
                         <ul>
                                <li>Date : {{ income.date|date}}</li>
                                <li>Name :  {{ income.name }}</li>
                                <li>Value :  {{ income.value }}</li>
                                <li>Day of the month:  {{ income.repetition_time }}</li>
                                <li>User:  {{ income.user_id }}</li>
                                {% if income.reptitive %}
                                    <li>
                                        Every : {{ income.repetition_time }}     {{ income.get_repetition_interval_display }}
                                    </li>
                                {% endif %}
                            </ul>
                    <a href ="{% url 'my_finances:income_update' object.pk %}" class="btn btn-primary mt-4 pr-4 pl-4">Update</a>
                    <a href ="{% url 'my_finances:income_delete' object.pk %}" class="btn btn-primary mt-4 pr-4 pl-4">Delete</a>                           
                    </div>
                </div>
            </div>
            <!-- Statistics area end -->
                            
        </div>
    </div>
</div>
        

{% endblock %}

{% block hidden_content %}
{% endblock %}