{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">

        <!-- Statistics area start -->
        <div class="col-lg-8 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">{{ title }}</h4>
                     
                    {% for income in object_list %}
                    <li>

                        <a href = "{% url 'my_finances:Outcome_detail' income.pk %}">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">{{ income.title }}</h5>
                                    <p class="mb-1">{{ income.description }}</p>
                                    <p class="mb-1">{{ income.date }}</p>
                                    <p class="mb-1">{{ income.amount }}</p>
                                </div>
                            </div>
                        {{ object.date|date}} - {{ object.name }} - ${{object.value}} - Repetitive :{{object.repetitive}} 
                        every {{ object.repetition_time }}  {{ object.get_repetition_interval_display }} 
                {% empty %}
                        </a>
                    </li>
                    <li>Nothing to show yet.</li>
                {% endfor %}
                
                    
                </div>
            </div>
        </div>
        <!-- Statistics area end -->
                        
    </div>
</div>
        

{% endblock %}

{% block hidden_content %}
{% endblock %}